@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins";

.extended-trip-section {
  position: relative;
  padding: 6rem 1.5rem;

  &__intro,
  &__icon,
  &__details {
    opacity: 0;
  }

  &__icon {
    text-align: center;

    svg {
      width: 12rem;
      height: 6rem;
      color: var(--clr-secondary-100);
    }
  }

  .invite-title {
    &__background {
      transform: translateY(-2rem);
    }
  }

  &__intro {
    font-size: var(--fs-300);
    line-height: var(--fs-400);
    text-align: center;
    margin-bottom: 2rem;
    color: var(--clr-primary-100);
  }

  &__details {
    max-width: 700px;
    margin: 0 auto;
    font-size: var(--fs-200);
    line-height: var(--fs-300);

    strong {
      color: var(--clr-primary-100);
      margin-right: 0.25rem;
      margin-left: 0.25rem;
    }

    h3 {
      margin-top: 2rem;
      font-size: var(--fs-300);
      color: var(--clr-primary-100);
    }

    ul {
      margin-top: 1rem;
      padding-left: 1.5rem;

      li {
        margin-bottom: 0.5rem;
        span {
          margin-right: 0.25rem;
        }
      }
    }

    &__sublist {
      padding-left: 1.2rem;
      margin-top: 0.3rem;

      li {
        list-style-type: circle;
        font-style: italic;
        margin-bottom: 0.3rem;
      }
    }

    p {
      margin-bottom: 1.2rem;
    }
  }

  @include mixins.max-media-query(sm) {
    padding: 3rem 1.5rem;

    &__icon {
      margin-bottom: 1.5rem;

      svg {
        width: 9rem;
        height: 3rem;
      }
    }
  }
}
