/**
 * @file _global.scss - Global
 *
 * This file defines global styles, including layout, typography, and
 * accessibility. It also sets default scrollbar styles and applies
 * variables from `_variables.scss` for consistent design throughout the app.
 *
 * node.js-v20.17.0
 *
 * @author Cristian Moreno (Kyonax)
 * @contact iamkyo@kyo.wtf
 * @date 2025-06-10
 *
 * Code Guidelines :: @CCSv0.1
 * More details: https://code-guidelines.cybercodesyndicate.org
 * - Tabs only—no spaces.
 * - Naming:
 *   - kebab-case for classes and file names (e.g., file-example.js).
 *   - __underscore for childs (double underscore prefix).
 * - Meaningful Names btn-default-class over classOne.
 *
 * Repository-URL
 * https://github.com/Kyonax/the-invite-sc.git
 *
 * @dependencies
 * - Using * from "../abstracts/variables"
 */
@use "../abstracts/variables" as *;
@use "../abstracts/mixins";

/* Target all scrollable content (like body or main container) */
* {
    scrollbar-width: thin; // For Firefox
    scrollbar-color: var(--clr-cloud-50) transparent; // Firefox thumb & track colors
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--clr-cloud-50);
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
    background-color: #f1f1f1;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body,
html {
    scrollbar-width: thin;
    scrollbar-color: #fff transparent;
}

body::-webkit-scrollbar {
    width: 8px;
}

// Hide scrollbar on mobile (up to 768px width)
@media (max-width: 882px) {
    * {
        // For Firefox
        scrollbar-width: none;

        // For WebKit-based browsers (Chrome, Safari, Edge)
        &::-webkit-scrollbar {
            display: none;
        }
    }
}

/**
 * Body Styles
 *
 * @description
 * Sets the default background and text colors to ensure high contrast
 * for readability and accessibility.
 */
body {
    // background-color: var(--clr-cloud-50);
    background-color: var(--clr-cream-brown-50);
    color: var(--clr-secondary-100);
}

#root {
    display: grid;
    justify-items: center;
    position: relative;
    height: calc(var(--vh, 1vh) * 96);
    overflow: hidden;

    @include mixins.max-media-query(sm) {
        height: calc(var(--vh, 1vh) * 91);
    }
}

.loader {
    background-color: var(--clr-primary-100);
    margin-top: 3.5rem;
    border: 1px solid var(--clr-cream-brown-100);
    align-items: center;
    display: grid;
    height: calc(var(--vh, 1vh) * 85);
    justify-items: center;
    max-width: 1440px;
    position: absolute;
    top: 0rem;
    width: 100%;
    overflow: hidden;

    @include mixins.max-media-query(sm) {
        margin-top: 12rem;
        height: calc(var(--vh, 1vh) * 45);
    }

    &__container {
        align-items: center;
        display: grid;
        justify-items: center;
        position: relative;
        width: 70%;

        @include mixins.max-media-query(sm) {
            width: 90%;
        }

        p {
            margin-top: -0.5rem;
            opacity: 0;
            text-align: center;
            font-size: var(--fs-400);
            color: var(--clr-gold-900);
            animation: reveal 1.6s ease-in 3s forwards;

            @include mixins.max-media-query(sm) {
                font-size: var(--fs-200);
            }
        }

        .container-triangle {
            content: "";
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            aspect-ratio: 2.5 / 1; // Makes a triangle
            clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
            background-color: transparent;
            pointer-events: none;
        }
    }

    .seal {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;

        &__triangle {
            content: "";
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            aspect-ratio: 3 / 1; // Makes a triangle
            clip-path: polygon(50% 100%, 100% 0%, 0% 0%);
            background-color: transparent;
            pointer-events: none;
        }

        img {
            margin-top: -7.5rem;
            position: absolute;
            left: calc(50% - 60px);
            cursor: pointer;
            width: 120px;
            filter: drop-shadow(-4px 6px 4px rgba(0, 0, 0, 0.2));
            animation: my-bounce 12s infinite; // Adjust time as needed

            @include mixins.max-media-query(sm) {
                filter: drop-shadow(-4px 3px 4px rgba(0, 0, 0, 0.2));
                margin-top: -3rem;
                left: calc(50% - 30px);
                width: 60px;
            }
        }
    }

    @keyframes my-bounce {
        0%,
        80%,
        100% {
            transform: translateY(-1rem);
            animation-timing-function: ease-in;
        }
        84% {
            transform: translateY(-0.8rem); // Strong downward motion
            animation-timing-function: ease-in-out;
        }
        89% {
            transform: translateY(-1.2rem); // Strong downward motion
            animation-timing-function: ease-in-out;
        }
        95% {
            transform: translateY(-0.4rem); // Strong upward rebound
            animation-timing-function: ease-in;
        }
    }
    .double_border {
        position: absolute;
        width: 97.25%;
        height: 95.75%;
        border: 0.25px solid var(--clr-cream-brown-100);
        z-index: 0;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        aspect-ratio: 2 / 1; // Makes a triangle
        clip-path: polygon(50% 60%, 100% 0%, 0% 0%);
        background-color: var(--clr-primary-100);
        z-index: 1;
        pointer-events: none;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0rem;
        left: -9%; // widen horizontally
        width: 118%; // expand width to spread shadow
        aspect-ratio: 2 / 1;
        background: conic-gradient(
            rgba(0, 0, 0, 0.9),
            transparent 75deg,
            transparent 290deg,
            rgba(0, 0, 0, 0.9)
        );
        z-index: 0;
        pointer-events: none;
    }

    &__texture {
        position: absolute;
        inset: 0;
        z-index: 1;
        background-image: url("@/assets/rough-paper.jpg"),
            linear-gradient(
                145deg,
                rgba(255, 255, 255, 0.04),
                rgba(0, 0, 0, 0.06)
            );
        background-size: cover; // or "100% 100%" if exact stretching is preferred
        background-repeat: no-repeat;
        background-position: center center;
        background-blend-mode: overlay;
        image-rendering: crisp-edges;
        opacity: 0.7;
        mix-blend-mode: multiply;
        pointer-events: none;

        &::after {
            content: "";
            position: absolute;
            top: -1rem;
            inset: 0;
            background: radial-gradient(
                circle at 41% -20%,
                var(--clr-gold-400),
                transparent 80%
            );
            opacity: 0.7;
            pointer-events: none;
            z-index: 1; // Must be over texture, but under content
            mix-blend-mode: multiply;
        }
    }
}

.main {
    opacity: 0;
    position: relative;
    display: grid;
    justify-content: center;
    width: 100%;
    transform: translateY(calc(var(--vh, 1vh) * 95));
    background-color: var(--clr-cream-brown-100);
    transition: all 0.5s ease-out;

    z-index: 4;

    &.top {
        opacity: 1 !important;
        transform: translateY(0) !important;
    }
}

@keyframes reveal {
    to {
        opacity: 1;
    }

    from {
        opacity: 0;
    }
}
